  <div class= "container">
  	 <hr class= "style-seven">
	<h3 class = text-center> We are currently working on hotel blocks and hope to update by mid-December! </h3>
	 <hr class= "style-seven">
</div>