  <div class= "container">
  	 <hr class= "style-seven">
	<h3 class = text-center>  There will be a significant amount of road construction around the time of our wedding and we are working on keeping you updated.   </h3>
	 <hr class= "style-seven">
</div>