<!-- events -->
<div class= "container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><%= image_tag "hearts.png", alt: "heart", id: "heart" %>  Wedding Day Festivities  <%= image_tag "hearts.png", alt: "heart", id: "heart" %></h1>
      <hr class= "style-seven">
    </div>
  </div>

<div class="row">   
  <div class="col-md-6 text-center">
    <p class= "events">   Ceremony: 6:30pm </p>               
  </div>
  <div class="col-md-6 text-center">
    <p class= "events">   Reception: 7:00pm-1:00am </p>
  </div>
</div> 

<div class="row">   
    <div class="col-md-6 text-center"><img class= "img-responsive"><%= image_tag 'ceremony.jpg', alt: 'garden', id: "garden", class: "garden img-responsive"  %></div>
    <div class="col-md-6 text-center"><img class= "img-responsive"><%= image_tag 'addison_oaks.jpg', alt: 'addison', id: 'addison', class: "addison img-responsive" %></div>
</div>  
<br>
<div class= "col-lg-12">
    <h1 class= "text-center"> Addison Oaks Buhl Estate</h1>  
    <p class= "story text-center"> Address: 1480 West Romeo Road, Leonard, MI 48367 </p>
    <p class= "story text-center"> (248) 693-8305</p>
<br>
    </div>
<div class="row">
    <div class= "col-md-2"></div>
   <div class= "col-md-8">
    <p class="story">
     Weather permitting, the ceremony will be held outside at 6:30pm.  Lawn games (and drinks) will follow, then dinner (more drinks) and dancing.  Please note that this celebration will be heavily photographed. Shenanigans will be documented.  Dress as you wish! Our suggestion is the grey area between casual and formal (otherwise known as "dressy casual")... unless you are the father of the groom... in which case your outfit has been picked out for you and does not include camo!  Feel free to reach out to either of us if you have more questions or just google "dressy casual."
    </p>
    <p class="story">   Please note that since this is an evening wedding, we are requesting that children under the age of 12 are not in attendance.   We do understand that this may add an extra burden on travel and are happy to help find a solution such as shared babysitters at the hotel, etc.  Please don't hesitate to reach out to us if you have any concerns or questions.  We look forward to sharing out joyous celebration with you all!</p>
    </div>
     <div class= "col-md-2"></div>
</div>

<hr>
<br>

<div class="row">
  <div class= "col-md-5">
        <br>

        <h2 class= "text-center"> History of Addison Oaks </h4>
          <br>
        <p class="story">  The property was one of the first few to be settled on in Addison Township in 1833.</p>
        <p class= "story">The original home was designed in the late 1920s by Robert O'Derrick. Mr. Derrick also designed the Federal Building in Detroit an the Ford Museum at Greenfield Village.</p>
  
        <p class= "story"> At one point in Addison Oak's history, it was home to the Tudor Hill Gun Club and Game Preserve, before Addison County purchased it in 1969. </p>
        <p class= "story"> Our special connection is that Chris's parents also had their wedding reception here 44 years ago! </p>
      </div>

      <div class= "col-md-7">
        <div id="map-canvas"></div>
      </div>
    </div>
    

   <!-- <div class="row">    
          <div class="col-md-5 col-sm-3 text-center"></div>
            <div class="col-md-7 col-sm-9">
              <h3>August 1st Bruch </h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4>TBD!  </h4>
                  <h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"> </small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div> -->
         <!--  <hr> -->
      </div> <!-- container close -->
      <br>
     <hr class= "style-seven"
      



