
<div class= "container">
	<div class= "row">
          <div class="col-lg-12">
               <!--  <h1 class="text-center"> we are getting married! 
                </h1> -->
               <!--  <h1 class= "text-center"><span class="glyphicon glyphicon-heart"><span class= "glyphicon glyphicon-heart"></h1> -->
                  <hr class= "style-seven">
              </div>
           </div>
     <div class= "row">
           <div class= "col-md-3 text-center">
           	<span class= "glyphicon glyphicon-heart"></span>
           </div>

		  <div class= "col-md-6 text-center">
				<%= image_tag "cats_copy1.jpg", alt: "cats", id: "cats", class: "cats-cats img-responsive" %>
				</div>
			<div class= "col-md-3 text-center">
					<span class= "glyphicon glyphicon-heart"></span>
			</div>
	</div>
		 <hr class= "style-seven">
	</div>
		<br>
	

		