<div class= "container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><%= image_tag "hearts.png", alt: "heart", id: "heart" %>  Registry
    <%= image_tag "hearts.png", alt: "heart", id: "heart" %></h1>
      </div>
    </div>
 <hr class= "style-seven"> 
 <div class="row">
    <div class="col-md-6">
        <p class= "events text-center"> </p>
        <p class= "story"> Your Presence at our wedding is the greatest gift of all.  However if you wish to honour us with a gift, we have organized a gift registry of our favorite things at Bed, Bath and Beyond! </p>

        <p class = "registy"> <%= link_to "View our registry", "http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543111459&pwsurl=", :target => "_blank" %> </p>
           <p class= "story text-center"> 
           </p>
        <br>
        <p class= "story">   </p>
      </div>
 <div class="col-md-6">
    <%= image_tag "bedbath1.png", atl: 'hampton', id: 'hampton', class: "hampton_pic"  %>
 </div>
</div>      
           <hr class= "style-seven">
</div> <!-- container close -->
<br>

